
.bottom-container{
    display: flex;
    margin: 5rem 12px 0;
}

.logo-container{
    width: 320px;
    height: 340px;
}

.logo-container > img{
    width: 200px;
    height: 60px;
}

.logo-container > p{
    font-size: 18px;
    height: 48px;
    margin: 10px 0;
}

.logo-container ul{
    width: 300px;
    height: 150px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logo-container ul li{
    width: 200px;
    height: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.cont{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.logo-container ul li:nth-child(1){
    height: 55px;
    
}

.logo-container ul li:nth-child(1) > p{
    line-height: 12px;    
    padding-top: 27px;
}

.logo-container ul li strong{
    font-size: 12px;
}

.logo-container ul li span{
    font-size: 12px;
    
}

.logo-container ul li img{
    width: 15px;
    height: 15px;
    margin-right: 7px;
    line-height: 10px;
}

.company-container span, .company-container h4{
    margin: 0 0 0 12px;

}

.company-container ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
}

.company-container ul li{
    width: 100%;
    height: 35px;
}

.company-container ul li a{
    height: 18px;
    text-decoration: none;
    color: #253d4e;
    font-size: 15px;
    font-weight: bold;
}

.company-container ul li a:hover{
    color: #3bb77e;
}